{% extends 'layout2.twig' %}
{% block content %}
<!-- Main content Header-->
<div class="header">
  <h1>Manage Team</h1>
</div>
<!--/ Main content Header-->
<!-- Main content Data Display-->
<div>
  <div class="my-4">
    <h2>Invite a User</h2>
    <form action="">
      <div class="row">
        <div class="col">
          <div class="md-form">
            <input type="text" id="form1" class="form-control" required>
            <label for="form1">First Name</label>
          </div>
        </div>
        <div class="col">
          <div class="md-form">
            <input type="text" id="form1" class="form-control" required>
            <label for="form1">Email</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="futures-color-purple btn-transparent">+ Invite another user</a>
        </div>
      </div>
      <button class="mt-4 ml-0 btn btn-futures">Send Invites</a>
    </form>
  </div>
  <hr>
  <div class="mt-5">
    <h2 class="mb-3">Active</h2>
    <div class="data table-responsive text-nowrap">
      <table id="" cellspacing="0" class="table history-table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Joined On</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              William
            </th>
            <td>william@thefutures.io</td>
            <td>Manager</td>
            <td>21/06/2019</td>
            <td><a href=""><i class="fas fa-link"></i></a></td>
          </tr>
          <tr>
            <th scope="row">
              Angel
            </th>
            <td>angel@thefutures.io</td>
            <td>User</td>
            <td>22/06/2019</td>
            <td><a href=""><i class="fas fa-link"></i></a></td>
          </tr>
          <tr>
            <th scope="row">
              William
            </th>
            <td>william@thefutures.io</td>
            <td>Manager</td>
            <td>21/06/2019</td>
            <td><a href=""><i class="fas fa-link"></i></a></td>
          </tr>
          <tr>
            <th scope="row">
              Angel
            </th>
            <td>angel@thefutures.io</td>
            <td>User</td>
            <td>22/06/2019</td>
            <td><a href=""><i class="fas fa-link"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--/ Main content Data Display-->
{% endblock %}