{% extends 'layout2.twig' %}
{% block content %}
<!-- Main content Header-->
<div class="header  mb-4">
  <h1 class="main-title">Project History</h1>
</div>
<!--/ Main content Header-->
<!-- Main content Data Display-->
<div class="data table-responsive text-nowrap">
  <table id="" cellspacing="0" class="table history-table table-hover">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Project Name</th>
        <th scope="col">Placed</th>
        <th scope="col">Placed By</th>
        <th scope="col">Direct Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <a href="/thefutures/dashboard/order-history/TC1031972989">
            00001
          </a>
        </th>
        <td>FAVICON for The Futures</td>
        <td>19/06/2019</td>
        <td>William Villalobos</td>
        <td><a href=""><i class="fas fa-link"></i></a></td>
      </tr>
      <tr>
        <th scope="row">
          <a href="/dashboard/order-history/TC1031972989">
            00002
          </a>
        </th>
        <td>FAVICON for The Futures</td>
        <td>19/06/2019</td>
        <td>William</td>
        <td><a href=""><i class="fas fa-link"></i></a></td>
      </tr>
      <tr>
        <th scope="row">
          <a href="/dashboard/order-history/TC1031972989">
            00002
          </a>
        </th>
        <td>FAVICON for The Futures</td>
        <td>19/06/2019</td>
        <td>William</td>
        <td><a href=""><i class="fas fa-link"></i></a></td>
      </tr>
      <tr>
        <th scope="row">
          <a href="/dashboard/order-history/TC1031972989">
            00002
          </a>
        </th>
        <td>FAVICON for The Futures</td>
        <td>19/06/2019</td>
        <td>William</td>
        <td><a href=""><i class="fas fa-link"></i></a></td>
      </tr>
      <tr>
        <th scope="row">
          <a href="/dashboard/order-history/TC1031972989">
            00002
          </a>
        </th>
        <td>FAVICON for The Futures</td>
        <td>19/06/2019</td>
        <td>William</td>
        <td><a href=""><i class="fas fa-link"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>

{# 
<div class="float-right">
  <a class="btn red-button">Export as .CSV</a>
</div> #}

<!--/ Main content Data Display-->
{% endblock %}