{% extends 'layout2.twig' %}
{% block headlinks %}
<link rel="stylesheet" href="/thefutures/styles/breads.css">
<link rel="stylesheet" href="/styles/breads.css">
{% endblock %}
{% block content %}
<!-- Main content Header-->
<div class="row">
    <div class="col">
        <div class="index header">
            <div>
                <h1 class="">Project Progress</h1>
            </div>
        </div>
        <!--/ Main content Header-->
        <!-- Main content Data Display-->
        <table id="" cellspacing="0" class="table tickets-table table-hover">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Placed</th>
                    <th scope="col">Placed By</th>
                    <th scope="col">Received</th>
                    <th scope="col">In Production</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <a href="/thefutures/dashboard/order-history/TC1031972989">
                            00001
                        </a>
                    </th>

                    <td>FAVICON for The Futures</td>
                    <td>19/06/2019</td>
                    <td>William Villalobos</td>
                    <td><button type="button" class="btn btn-circle"><i class=""></i></td>
                    <td>
                        <div class="pulsating-dot">
                            <div class="pulsating-dot__ripple">
                                <span></span>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="width: 100;" class="awaiting-approval text-center">
                            <p class="mb-0">
                                Awaiting approval
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/dashboard/order-history/TC1031972989">
                            00002
                        </a>
                    </th>
                    <td>FAVICON for The Futures</td>
                    <td>19/06/2019</td>
                    <td>William</td>
                    <td>
                        <div class="pulsating-dot">
                            <div class="pulsating-dot__ripple">
                                <span></span>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </td>
                    <td><button type="button" class="btn btn-circle"></td>
                    <td>
                        <div style="width: 100;" class="up-next text-center">
                            <p class="mb-0">Up Next</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/dashboard/order-history/TC1031972989">
                            00002
                        </a>
                    </th>
                    <td>FAVICON for The Futures</td>
                    <td>19/06/2019</td>
                    <td>William</td>
                    <td>
                        <div class="pulsating-dot">
                            <div class="pulsating-dot__ripple">
                                <span></span>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </td>
                    <td><button type="button" class="btn btn-circle"></td>
                    <td>
                        <div style="width: 100;" class="on-queue text-center">
                            <p class="mb-0"> On Queue </p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">
                        <a href="/dashboard/order-history/TC1031972989">
                            00002
                        </a>
                    </th>
                    <td>FAVICON for The Futures</td>
                    <td>19/06/2019</td>
                    <td>William</td>
                    <td>
                        <div class="pulsating-dot">
                            <div class="pulsating-dot__ripple">
                                <span></span>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </td>
                    <td><button type="button" class="btn btn-circle"></td>
                    <td>
                        <div style="width: 100;" class="on-queue text-center">
                            <p class="mb-0"> On Queue </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/dashboard/order-history/TC1031972989">
                            00002
                        </a>
                    </th>
                    <td>FAVICON for The Futures</td>
                    <td>19/06/2019</td>
                    <td>William</td>
                    <td>
                        <div class="pulsating-dot">
                            <div class="pulsating-dot__ripple">
                                <span></span>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </td>
                    <td><button type="button" class="btn btn-circle"></td>
                    <td>
                        <div style="width: 100;" class="on-queue text-center">
                            <p class="mb-0"> On Queue </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}



{% block scripts %}
{% endblock %}