{% extends 'layout2.twig' %}
{% block headlinks %}
<link rel="stylesheet" href="/thefutures/styles/breads.css">
{% endblock %}
{% block content %}
<!-- Main content Header-->
<div class="row">
    <div class="col">
        <div class="index header">
            <div>
                <h1 class="">Project Progress</h1>
            </div>
        </div>
        <!--/ Main content Header-->
        <!-- Main content Data Display-->
        <table id="" cellspacing="0" class="table tickets-table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Placed</th>
                    <th scope="col">Placed By</th>
                    <th scope="col">Received</th>
                    <th scope="col">In Production</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <a href="/thefutures/dashboard/order-history/TC1031972989">
                            00001
                        </a>
                    </th>

                    <td>FAVICON for The Futures</td>
                    <td>19/06/2019</td>
                    <td>William</td>
                    <td><button type="button" class="btn btn-circle"><i class=""></i></td>
                    <td>
                        <div class="pulsating-dot">
                            <div class="pulsating-dot__ripple">
                                <span></span>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="width: 100; background: #f91c52;" class="text-center">
                            <p class="text-white mb-0">
                                Awating Approval
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/dashboard/order-history/TC1031972989">
                            00002
                        </a>
                    </th>
                    <td>FAVICON for The Futures</td>
                    <td>19/06/2019</td>
                    <td>William</td>
                    <td>
                        <div class="pulsating-dot">
                            <div class="pulsating-dot__ripple">
                                <span></span>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </td>
                    <td><button type="button" class="btn btn-circle"></td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/dashboard/order-history/TC1031972989">
                            00002
                        </a>
                    </th>
                    <td>FAVICON for The Futures</td>
                    <td>19/06/2019</td>
                    <td>William</td>
                    <td>
                        <div class="pulsating-dot">
                            <div class="pulsating-dot__ripple">
                                <span></span>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </td>
                    <td><button type="button" class="btn btn-circle"></td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                </tr>

                <tr>
                    <th scope="row">
                        <a href="/dashboard/order-history/TC1031972989">
                            00002
                        </a>
                    </th>
                    <td>FAVICON for The Futures</td>
                    <td>19/06/2019</td>
                    <td>William</td>
                    <td>
                        <div class="pulsating-dot">
                            <div class="pulsating-dot__ripple">
                                <span></span>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </td>
                    <td><button type="button" class="btn btn-circle"></td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/dashboard/order-history/TC1031972989">
                            00002
                        </a>
                    </th>
                    <td>FAVICON for The Futures</td>
                    <td>19/06/2019</td>
                    <td>William</td>
                    <td>
                        <div class="pulsating-dot">
                            <div class="pulsating-dot__ripple">
                                <span></span>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </td>
                    <td><button type="button" class="btn btn-circle"></td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <div class="container breadcrumbs-container">
        <h1 class="breadcrumbs-title">Order Transcripts</h1>
        <div class="right steps-container">
            <ul class="breadcrumbs unstyled">

                <li class="breadcrumb step-1 breadcrumb-active">
                    <div class="breadcrumb-number">

                    </div>
                    <div class="breadcrumb-name">
                        Add Files
                    </div>
                </li>
                <li class="breadcrumb-connector">
                    <div class="connector"></div>
                </li>
                <li class="breadcrumb step-2">
                    <div class="breadcrumb-number">

                    </div>
                    <div class="breadcrumb-name">
                        Sign In
                    </div>
                </li>
                <li class="breadcrumb-connector">
                    <div class="connector"></div>
                </li>
                <li class="breadcrumb step-3 last">
                    <div class="breadcrumb-number">

                    </div>
                    <div class="breadcrumb-name">
                        Pay
                    </div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}



{% block scripts %}
{% endblock %}