{% extends 'layout2.twig' %}
{% block headlinks %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css">
{% endblock %}
{% block content %}
<!-- Main content Header-->
<div class="row">
    <div class="col">
        <div class="index header">
            <h1 class="">Project Request Form</h1>
        </div>
        <div>
            <div class="project-request">
                <div class="">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a id="graphic" class="nav-link active">Graphic Design</a>
                        </li>
                        <li class="nav-item">
                            <a id="video" class="nav-link">Video Editing</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="text-muted">
                            Making a request is super simple. Only complete the form
                            below.
                        </li>
                        <li class="text-muted py-1">
                            Your reques will be put in a queue and delivered in order of
                            arrival.
                        </li>
                        <li class="text-muted">
                            You can also maye your request by writing directly to
                            request@thefutures.io
                        </li>
                    </ul>
                    <hr>
                    <div>
                        <h5 class="mb-0 font-weight-bold card-title">1. Tell us about your design</h5>
                        <small class="mt-0 text-muted">Be as detailed as possible.</small>
                    </div>
                    <form action="" class="mt-2">
                        <!-- Material input -->
                        <div class="md-form">
                            <input type="text" id="form1" class="form-control" required>
                            <label for="form1">Title of request</label>
                        </div>
                        <div class="md-form mb-4 pink-textarea active-pink-textarea">
                            <textarea id="form2" class="md-textarea form-control" rows="2"></textarea>
                            <label for=" form2">Briefly Description of what you want to see in your project</label>
                        </div>
                        <div>
                            <small class="m-0 text-muted">
                                We love lists, please list the specific things you wish to see on your piece.
                                Our creatives are always more efficient when you are able to itemise your requests.
                            </small>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea">
                                <textarea id="form3" class="md-textarea form-control" rows="2"></textarea>
                                <label for="form3">Please list the specific things you wish to see on your piece</label>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <p class="mb-0">Select a design size *</p>
                            <select class="selectpicker" multiple required>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="3">Three</option>
                            </select>
                            <div class="d-flex justify-content-between align-items-center my-2">
                                <p class="my-0 w-50">* This design is for: </p>
                                <select class="w-50 custom-select custom-select-sm">
                                    <option selected>Open</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="md-form">
                                <input type="text" id="form5" class="form-control" required>
                                <label for="form5">Type of audience you are trying to reach.</label>
                            </div>
                            <div class="md-form mb-4 pink-textarea active-pink-textarea">
                                <textarea id="form3" class="md-textarea form-control" rows="2"></textarea>
                                <label for="form3">Share any links you would like us to see for inspiration. Just paste
                                    them in this box.</label>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h5 class="mb-0 font-weight-bold card-title">2. Upload Assets</h5>
                            <small class="mt-0 text-muted">Upload anything you may want in your design (photos, fonts,
                                logos, word docs, images, etc).</small>

                            <div class=" my-2">
                                <div class="custom-file">
                                    <input type="file" multiple class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                            <div>
                                <small class="">Please make sure that your file upload does not exceed 10MB in
                                    Total</small>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h5 class="mb-0 font-weight-bold card-title">3. Files Needed</h5>
                            <small class="mt-0 text-muted">Pick the types of files you want to receive.</small>
                            <div>
                                <!-- Default inline 1-->
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="defaultInline1">
                                    <label class="custom-control-label" for="defaultInline1">PNG</label>
                                </div>

                                <!-- Default inline 2-->
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="defaultInline2">
                                    <label class="custom-control-label" for="defaultInline2">JPG</label>
                                </div>

                                <!-- Default inline 3-->
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="defaultInline3">
                                    <label class="custom-control-label" for="defaultInline3">PDF</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                <label class="custom-control-label" for="defaultUnchecked">I confirm I have providad all
                                    final copy and/or content for this request. I have read and accept the <a
                                        href="#">Terms of
                                        Service</a></label>
                            </div>
                        </div>
                        <hr>
                        <button class="mx-0 float-right btn btn-futures">Send Request</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/js/bootstrap-select.min.js"></script>
<script>
    $graphicDesing = document.getElementById('graphic');
    $videoEditing = document.getElementById('video');

    addEvent($graphicDesing, $videoEditing);
    addEvent($videoEditing, $graphicDesing);

    function addEvent(element1, element2) {
        element1.addEventListener('click', () => {
            if (!element1.classList.contains('active')) {
                element1.classList.add('active');
                element2.classList.remove('active');
            }
        });
    }
</script>
<script>
    $('textarea').each(function () {
        this.setAttribute('style', 'height:' + (this.scrollHeight / 1.3) + 'px;overflow-y:hidden;');
    }).on('input', function () {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight / 1.3) + 'px';
    });
</script>
{% endblock %}