{% extends 'layout2.twig' %}
{% block content %}
<!-- Main content Header-->
<div class="header">
  <h1 class="main-title">William Villalobos</h1>
</div>
<!--/ Main content Header-->
<!-- Main content Data Display-->
<div>
  <div class="alert bg-primary text-white notice-bar" role="alert" style="margin-top: 30px;">
    Default values are subject to change according to your billing account owner
  </div>
  <div class="settings">
    <h2>Account Settings</h2>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Email</div>
        <div class="col">williamvillalobos@gmail.com</div>
        <div class="col text-right"><a class="pr-4" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Password</div>
        <div class="col">******</div>
        <div class="col text-right"><a class="pr-4" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">API Key</div>
        <div class="col">******</div>
        <div class="col text-right"><a class="pr-4" href="#">SHOW</a></div>
      </div>
    </div>
  </div>
  <div class="settings">
    <div>
      <h2>Personal Settings
        <span class="float-right">
          <a class="pr-4 settings-buttons" href="#">Edit</a>
        </span>
      </h2>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">First Name</div>
        <div class="col">William</div>
        <div class="col text-right"><a class="pr-4" href="#"></a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Last Name</div>
        <div class="col">Villalobos</div>
        <div class="col text-right"><a class="settings-buttons" href="#"></a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Phone</div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Street</div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">City</div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">State</div>
      </div>
    </div>
  </div>
  <div class="settings">
    <h2>Integration Settings</h2>
    <div class="field-set">
      <h5>Linked Accounts</h5>
    </div>
    <div class="">
      <a class="btn red-button">LINK NEW ACCOUNT</a>
    </div>
  </div>
  <div class="settings">
    <div>
      <h2>Order Preferences</h2>
    </div>
    <div class="field-set">
      <h5>
        Global Settings
        <span class="float-right">
          <a href="#" class="settings-buttons">
            EDIT
          </a>
        </span>
      </h5>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">First Name</div>
        <div class="col">William</div>
        <div class="col text-right"><a class="pr-4" href="#"></a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Last Name</div>
        <div class="col">Villalobos</div>
        <div class="col text-right"><a class="pr-4" href="#"></a></div>
      </div>
    </div>
  </div>
</div>
<!--/ Main content Data Display-->
{% endblock %}