{% extends 'layout2.twig' %}
{% block content %}
<!-- Main content Header-->
<div class="header">
  <h1 class="main-title">William Villalobos</h1>
</div>
<!--/ Main content Header-->
<!-- Main content Data Display-->
<div>
  <div class="settings">
    <h2>Scale Your Design</h2>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Email</div>
        <div class="col">williamvillalobos@gmail.com</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
  </div>
  <hr style="border-top: 1px solid var(--futures-color); margin: 3rem 0;">
  <div class="settings">
    <h2>Save Money</h2>
    <div class="field-set">
      <div class="row">

        <div class="col font-weight-bold">Frequency</div>
        <div class="col font-weight-bold">Monthly Cost</div>
        <div class="col text-right font-weight-bold"></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">

        <div class="col">Standard (Monthly)</div>
        <div class="col">$0.00/DPU</div>
        <div class="col text-right"><i class="fas fa-check"></i></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">

        <div class="col">Standard (Every 6 Months)</div>
        <div class="col">$0.00/DPU</div>
        <div class="col text-right"><a class="" href="#">UPGRADE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">

        <div class="col">Standard (Annual)</div>
        <div class="col">$0.00/DPU</div>
        <div class="col text-right"><a class="" href="#">UPGRADE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">

        <div class="col">Pro (Monthly)</div>
        <div class="col">$0.00/DPU</div>
        <div class="col text-right"><a class="" href="#">UPGRADE</a></div>
      </div>
    </div>
  </div>
  <hr style="border-top: 1px solid var(--futures-color); margin: 3rem 0;">
  <div class="settings pt-0">
    <h2>Account Details</h2>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Email</div>
        <div class="col">williamvillalobos@gmail.com</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Password</div>
        <div class="col">******</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
  </div>
  <hr style="border-top: 1px solid var(--futures-color); margin: 3rem 0;">
  <div class="settings pt-0">
    <div>
      <h2>Business Details
      </h2>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">First Name</div>
        <div class="col">William</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Last Name</div>
        <div class="col">Villalobos</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Phone</div>
        <div class="col">Temporary</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Street</div>
        <div class="col">Temporary</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">City</div>
        <div class="col">Temporary</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">State</div>
        <div class="col">Temporary</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
  </div>
  <hr style="border-top: 1px solid var(--futures-color); margin: 3rem 0;">
  <div class="settings pt-0">
    <div>
      <h2>Personal Details
      </h2>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">First Name</div>
        <div class="col">William</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Last Name</div>
        <div class="col">Villalobos</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Phone</div>
        <div class="col">Temporary</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">Street</div>
        <div class="col">Temporary</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">City</div>
        <div class="col">Temporary</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
    <div class="field-set">
      <div class="row">
        <div class="col font-weight-bold">State</div>
        <div class="col">Temporary</div>
        <div class="col text-right"><a class="" href="#">CHANGE</a></div>
      </div>
    </div>
  </div>
  <hr style="border-top: 1px solid var(--futures-color); margin: 3rem 0;">
  <div class="settings pt-0">
    <h2>Membership Settings</h2>
    <div class="row">
      <div class="col">
        <a class="btn gray-button">PAUSE MEMBERSHIP</a>
        <p>Lorem ipsum dolor sit amet consectetur adipis icing elit. Repudiandae odio porr</p>
      </div>
      <div class="col-1 d-flex justify-content-center">
        <div style="min-height: 100%; background: gray; width:1px">
        </div>
      </div>
      <div class="col">
        <a class="btn gray-button">CANCEL MEMBERSHIP</a>
        <p>Lorem ipsum dolor sit amet consectetur adipis icing elit. Repudiandae odio porr</p>
      </div>
    </div>
  </div>
</div>
<!--/ Main content Data Display-->
{% endblock %}