{% extends 'layout2.twig'  %}

{% block content %}
<div class="row">
    <div class="col-8">
        <div class="header-2">
            <h1 class="main-title">#ID: 00001</h1>
        </div>
        <div>
            <b style="font-weight: 700; margin-right: 10px;">Project name:</b>
            FAVICON for The Futures
        </div>
        <div>
            <div class="card my-3">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <!-- Text -->
                    <div class="d-flex">
                        <div class="mx-4">
                            <div class="font-weight-bold">Placed</div>
                            <div>Date</div>
                            <div>By William</div>
                        </div>
                        <div class="mx-4">
                            <div class="font-weight-bold">Length</div>
                            <div>5m</div>
                            <div></div>
                        </div>
                        <div class="mx-4">
                            <div class="font-weight-bold">Total</div>
                            <div>$5.00</div>
                            <div>Print receipt</div>
                        </div>

                    </div>
                    <hr>
                    <div class="card-title">Title of the Request:</div>
                    <div class="card-text">
                        FAVICON for The Futures
                    </div>
                    <div class="card-title mt-2">Description:</div>
                    <div class="card-text">
                        Hi. Can we please do this task right away. And pause the rest of all my other tasks until this
                        one
                        is
                        finished.
                        Detail List:
                        1) Please create thumbnails with each of the pictures attached.
                        2) Please use do the thumbnails with the style/template similar to the ones being done for
                        Fadela
                        Hilali
                        3) But please DO NOT use Fadela's colours (use the 2 colours attached as the brand colours)
                        4) The title of each thumbnail should be what is written on the file name (background fading
                        image
                        should just relate to the topic on title.
                        5) Please find WETRANSFER attached with all files needed.
                    </div>
                    <div class="card-title mt-2">Specific Text (If Any):</div>
                    <div class="card-text">
                        No text
                    </div>
                    <div class="card-title mt-2">Design Size:</div>
                    <div class="card-text">

                    </div>
                    <div class="card-title">The Design Custom Size:</div>
                    <div class="card-text">
                        000 Points x 000 Points
                    </div>
                    <div class="card-title">The Design is for:</div>
                    <div class="card-text">
                        Digital
                    </div>
                    <div class="card-title">Audience You Are Trying to Reach:</div>
                    <div class="card-text">
                        Yoga Students / Yoga Teachers
                    </div>
                    <div class="card-title">Links for inspiration: </div>
                    <div class="card-text">
                        https://we.tl/t-wbMeDtCmLL
                    </div>
                    <hr>
                    <div class="row">
                        <div class="container" style="display: flex; justify-content: space-between;">
                            <p>archivo.docx</p>
                            <div class="mx-2 float-right text-right">
                                <a href="#">EDIT</a>
                                |
                                <a href="#">SHARE</a>
                                |
                                <a href="#">DOWNLOAD</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="container">
                            Project Delivered: <span class="text-muted">May 8</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Chat zone -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="comments">
    <h2 class=" text-center">Leave us your comments below</h2>
    <div class="card">
        <div class="card-body comment">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://ui-avatars.com/api/?name=Lohn+Roe&size=128"
                        class="img rounded-circle img-fluid" />
                    <p class="text-futures text-center">15 Minutes Ago</p>
                </div>
                <div class="col-md-10">
                    <p>
                        <a class="float-left" href="#">
                            <strong>London Real</strong> <span class="badge bg-futures">Customer</span>
                        </a>
                    </p>
                    <div class="clearfix"></div>
                    <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>

        <div class="card-body striped comment">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://ui-avatars.com/api/?name=Wohn+Voe&size=128"
                        class="img rounded-circle img-fluid" />
                    <p class="text-futures text-center">2 Hours Ago</p>
                </div>
                <div class="col-md-10">
                    <p>
                        <a class="float-left" href="#">
                            <strong>William Villalobos</strong> <span class="badge bg-futures">The futures</span>
                        </a>
                    </p>
                    <div class="clearfix"></div>
                    <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>

        <div class="card-body comment">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://ui-avatars.com/api/?name=Lohn+Roe&size=128"
                        class="img rounded-circle img-fluid" />
                    <p class="text-futures text-center">15 Minutes Ago</p>
                </div>
                <div class="col-md-10">
                    <p>
                        <a class="float-left" href="#">
                            <strong>London Real</strong> <span class="badge bg-futures">Customer</span>
                        </a>
                    </p>
                    <div class="clearfix"></div>
                    <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>

        <div class="card-body comment striped">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://ui-avatars.com/api/?name=Wohn+Voe&size=128"
                        class="img rounded-circle img-fluid" />
                    <p class="text-futures text-center">2 Hours Ago</p>
                </div>
                <div class="col-md-10">
                    <p>
                        <a class="float-left" href="#">
                            <strong>William Villalobos</strong> <span class="badge bg-futures">The futures</span>
                        </a>
                    </p>
                    <div class="clearfix"></div>
                    <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}