{% extends "layout2.twig" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="little-title mb-4">I HAVE A QUESTION ABOUT:</div>
        <form action="">
            <div class="row">
                <div class="col">
                    <label for="sales-button" class="flex flex-row align-items-center">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked"
                                name="defaultExampleRadios">
                            <label class="custom-control-label" for="defaultUnchecked">Sales</label>
                            <i class="ml-5 fas fa-comment"></i>
                        </div>
                    </label>
                </div>
                <div class="col">
                    <label for="sales-button" class="flex flex-row align-items-center">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked"
                                name="defaultExampleRadios">
                            <label class="custom-control-label" for="defaultUnchecked">Sales</label>
                            <i class="ml-5 fas fa-comment"></i>
                        </div>
                    </label>
                </div>
                <div class="col">
                    <label for="sales-button" class="flex flex-row align-items-center">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked"
                                name="defaultExampleRadios">
                            <label class="custom-control-label" for="defaultUnchecked">Sales</label>
                            <i class="ml-5 fas fa-comment"></i>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="sales-button" class="flex flex-row align-items-center">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked"
                                name="defaultExampleRadios">
                            <label class="custom-control-label" for="defaultUnchecked">Sales</label>
                            <i class="ml-5 fas fa-comment"></i>
                        </div>
                    </label>
                </div>
                <div class="col">
                    <label for="sales-button" class="flex flex-row align-items-center">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked"
                                name="defaultExampleRadios">
                            <label class="custom-control-label" for="defaultUnchecked">Sales</label>
                            <i class="ml-5 fas fa-comment"></i>
                        </div>
                    </label>
                </div>
                <div class="col">
                    <label for="sales-button" class="flex flex-row align-items-center">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked"
                                name="defaultExampleRadios">
                            <label class="custom-control-label" for="defaultUnchecked">Sales</label>
                            <i class="ml-5 fas fa-comment"></i>
                        </div>
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}