{% extends 'layout2.twig' %}
{% block content %}
<!-- Main content Header-->
<div class="row">
    <div class="col-5">

    </div>
    <div class="col-7">
        <div class=" index header">
            <div>
                <h1 class="main-title">Order Status</h1>
            </div>
        </div>

        <!--/ Main content Header-->
        <!-- Main content Data Display-->

        <table id="" cellspacing="0" class="table tickets-table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Received</th>
                    <th scope="col">In Production</th>
                    <th scope="col">In review</th>
                    <th scope="col">Delivered</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <a href="orderDetails/TC1031972989.html">
                            1
                        </a>
                    </th>
                    <td>Mark</td>
                    <td><button type="button" class="btn btn-default btn-circle"><i class=""></i></td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                    <td>N/A</td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="orderDetails/TC1031972989.html">
                            2
                        </a>
                    </th>
                    <td>Jacob</td>
                    <td><button type="button" class="btn btn-default btn-circle"><i class=""></i></td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                    <td>N/A</td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="orderDetails/TC1031972989.html">
                            3
                        </a>
                    </th>
                    <td>Larry the Bird</td>
                    <td><button type="button" class="btn btn-default btn-circle"><i class=""></i></td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                    <td>N/A</td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="orderDetails/TC1031972989.html">
                            4
                        </a>
                    </th>
                    <td>Larry the Bird</td>
                    <td><button type="button" class="btn btn-default btn-circle"><i class=""></i></td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                    <td>N/A</td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="orderDetails/TC1031972989.html">
                            5
                        </a>
                    </th>
                    <td>Larry the Bird</td>
                    <td><button type="button" class="btn btn-default btn-circle"><i class=""></i></td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                    <td>N/A</td>
                    <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}