@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("navbar.css");
@import url("sidebar.css");

html,
body {
    height: 100%;
}


:root {
    --futures-color: #f91c52;
    --futures-font-color: #4a4a4a;
    --futures-hover-font-color: #212529;
    --futures-primary-font: 'Brandon Grotesque Black', sans-serif;
    --futures-secondary-font: "Quicksand", sans-serif;
    font-size: 18px;
}

html {
    font-size: 18px;
}

body {
    /* ¿Cuál es la fuente para el texto? */
    font-family: var(--futures-secondary-font) !important;
    color: var(--futures-font-color) !important;
}

#main-content {
    padding-bottom: 8rem;
}


/*Estilos navs y navbars*/


/*---------------- ///Estilos navs y navbars --------------*/
/*------------------ Estilos sidebar ----------------------*/

.navbar .navbar-brand {
    padding-left: 28px;
}

/* \Final estilos sidebar */

/*Títulos negritas para los heads de la tabla*/
thead tr th {
    font-weight: 700 !important;
}

@media screen and (min-width: 628px) {
    .main-content .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .btn-futures::before {
        content: 'place '
    }
}


.btn-futures {
    color: white;
    background-color: var(--futures-color) !important;
    border-radius: 0.25rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.1rem;
    margin-right: 1.5rem;
}

.btn-futures:hover {
    color: white;
}

.btn {
    font-size: 0.875rem;
}

/*---------------------- <CONTENT HEADER> ------------------------*/
.header {
    margin-bottom: 2rem;
}

/*------------------- </CONTENT HEADER> --------------------------*/
table.table a {
    color: #007bff !important;
}

table.table a:hover {
    text-decoration: underline;
}

table {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-width: 0.25rem;
    border-color: #e6e6e6;
}

#main-content {
    margin: 0;
    width: 100%;
}

tr {
    height: 50px;
}

h1,
h2 {
    font-family: var(--futures-primary-font) !important;
    color: var(--futures-hover-font-color);
}

tbody {
    border: none !important;
}

thead {
    border: none !important;
}

.red-button {
    border-radius: 0.25rem;
    border: 1px solid rgba(238, 53, 36, 0.5);
    color: #ee3524 !important;
    height: 3rem;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    font-family: var(--futures-secondary-font);
    font-weight: 700 !important;
    box-shadow: none;
    margin-top: 20px;
}

.gray-button {
    border-radius: 0.25rem;
    border: 1px solid gray;
    color: var(--futures-font-color) !important;
    height: 3rem;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    font-family: var(--futures-secondary-font);
    font-weight: 700 !important;
    box-shadow: none;
    margin-top: 20px;
}

.gray-button:hover {
    color: black !important;
    box-shadow: none !important;
}

.dropdown-item {
    font-family: var(--futures-secondary-font) !important;
    font-size: 1rem !important;
    box-sizing: border-box;
    max-width: 100%;
}

.input-group {
    width: 350px !important;
    height: 100%;
    margin-right: 20px;
    display: inline-flex;
}

.input-group .form-control {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 3rem;
    font-size: 0.875rem;
    border: 1px solid #ced4da !important;
    border-radius: 0.3rem !important;
}

.input-group-text {
    padding-left: 20px;
    padding-right: 20px;
}

.field-set {
    border-bottom: 1px solid #e1e1e1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 16px !important;
}

.settings {
    margin-top: 2rem;
}

.settings h2 {
    margin-bottom: 20px;
    font-weight: 700;
}

.alert {
    padding: 0.5rem;
    font-size: .775rem;
    font-weight: 700;
}

.settings-buttons {
    padding-right: 4;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.cards-icons {
    font-size: 2rem;
}

.fast-cards {
    margin-right: 3rem;
    font-size: 0.875rem;
}

.f6 {
    font-size: 0.875rem;
}

.filled {
    background-color: #ee3524;
    color: white !important;
}

.my-files-items {
    display: flex;
    align-items: center;
}

.btn-dark {
    background-color: #e83e8c !important;
}

.hidden {
    display: none;
}

@media screen and (max-width: 990px) {
    .btn-futures {
        padding: .875rem 1.25rem;
        margin: .375rem;
        letter-spacing: 0;
        font-size: .875rem;
    }
}

@media screen and (max-width: 700px) {
    .btn-futures {
        padding: .500rem .875rem;
        font-size: .725rem;
        letter-spacing: 0;
    }

    .main-content .data {
        margin-top: 2em;
    }
}

.bg-futures {
    background-color: #f91c52 !important;
}

.text-futures {
    color: var(--futures-color);
}

.striped {
    background-color: #f3f1f1;
}

.card-body {
    border-bottom: 1px solid #f3f1f1;
}

.comments h2 {
    font-size: 2rem !important;
}

.tickets-table {
    font-size: 10px !important;
}

.table th {
    padding-left: .5rem;
    padding-right: .5rem;
}

table th,
table td {
    font-size: 16px;
}

table.table td,
table.table th {
    padding-top: 1rem;
    padding-bottom: 1ren;
}

.table td,
.table th {
    vertical-align: middle;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 20px;
    height: 20px;
    padding: 4px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
    line-height: 1.42857;
}