.navbar {
    border-bottom: 1px solid #e6e6e6;
    box-shadow: none !important;
    padding: 0 2rem !important;
}

nav.navbar {
    font-family: 'Brandon Grotesque Bold', sans-serif;
    font-size: 14px;
    z-index: 9999;
    background: #fff;
}

.nav-link {
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link,
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #8b959e;
}

.nav-link:hover,
.text-link:hover {
    color: black;
}

.nav-link,
.text-link {
    color: #8b959e;
}

.text-link {
    padding-left: 1rem !important;
}

.navbar-nav {
    padding-right: 1rem;
}

.navbar-nav .nav-item .nav-link {
    border-bottom: 2px solid white;
}

.navbar-nav .nav-item .nav-link {
    margin: 0 !important;
    padding: 1.2rem;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active {
    border-bottom: 2px solid var(--futures-color);
}

.navbar-nav .nav-item .nav-link:hover {
    color: black !important;
}

.navbar .dropdown-menu a {
    padding: .5rem;
    padding-left: 1rem;
    color: var(--futures-font-color);
}

nav .active {
    color: var(--futures-color) !important;
}

.services-cards {
    padding: calc(.85rem + 1vh) 1.875rem !important;
    border-bottom: 1px solid #e6e6e6;
}