#request-bullet-points {
    background-color: #e9ecef;
    border: 1px solid rgb(206, 212, 218);
}

#request-addmore-button {
    cursor: pointer;
}

#request-addmore-button:hover {
    color: #8b959e;
}

#graphic,
#video {
    padding-top: 12px;
    padding-bottom: 8px;
}

.btn-futures-request {
    color: white;
    background-color: var(--futures-color) !important;
    border-radius: 0.25rem;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-right: 1.5rem;
    font-size: 14px;
}

.btn-futures-request:hover {
    color: white;
}

.project-request .card-footer {
    padding:
        .5rem 1.25rem;
}

.card-header,
.card-footer {
    background-color: #fff;
}

.project-request .active {
    color: black;
}